<!DOCTYPE html>
<html>
    <head>
        <title>Changoboys blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Changoboys Blog</a></h1>
        </header>

        <article>
            <time>published: 03.06.2025, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>I'm not exactly sure what language this tutorial is in some sort of Portuguese I'm assuming</p>
        </article>

        <article>
            <time>published: 03.06.2025, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Yeah i have no clue what they are saying, I guess it could be italian too, but it is definitely not Spanish</p>
        </article>
    </body>
</html>
